.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.hud {
    width: 960px;
    height: 100px;
    background-color: #cecece;
    margin: 0 auto;
    text-align: center;
}

.palco {
    width: 960px;
    height: 500px;
    background-color: #000000;
    margin: 0 auto;
}


.vidas{
display: flex;
justify-content: space-between;
}

.barra-left{
text-align: left;
}

.barra-right{
text-align: right;
}