.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.hud {
    width: 960px;
    height: 120px;
    background-color: #cecece;
    margin: 0 auto;
}

.vidas {
    display: flex;
    justify-content: space-between;
}

.jogadores-info {
    width: 30%;
}

.jogador1 {
    text-align: right;
}

.placar-impactos,
.placar-resultado {
    display: flex;
    justify-content: center;
}

.impactos,
.resultado {
    margin: 0;
}

.palco {
    width: 960px;
    height: 500px;
    background-color: #000000;
    margin: 0 auto;
}